<!DOCTYPE html>
<html>
  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      
  [模板][图论] 迪杰斯特拉 Dijkstra &ndash; OTTFF&#39;s Blog

    </title>
    
    
    <meta name="description" property="og:description" content="迪杰斯特拉 Dijkstra 模板（priority_queue） // T must define &amp;lt; and &#43; // V: max number of vertex [0~V-1] template&amp;lt;typename T,size_t V,bool Directed=true, T INF=T(0x3f3f3f3f),T ZERO=T(0)&amp;gt; struct G { typedef pair&amp;lt;T,int&amp;gt; PTI; vector&amp;lt;PTI&amp;gt; g[V]; T dis[V]; int vis[V]; int n; void init(int n_) { n=n_; for(int i=0;i&amp;lt;n;i&#43;&#43;) g[i].clear(); } void addedge(int u,int v,T w) { g[u].emplace_back(w,v); if(!Directed) g[v].emplace_back(w,u); } void dijkstra(int st,int ed=-1) // ed=-1 no destination { for(int i=0;i&amp;lt;n;i&#43;&#43;) dis[i]=INF,vis[i]=0; priority_queue&amp;lt;PTI,vector&amp;lt;PTI&amp;gt;,greater&amp;lt;PTI&amp;gt; &amp;gt; qu; dis[st]=ZERO; qu.emplace(ZERO,st); while(!qu.empty()) { PTI p=qu.top(); qu.pop();|OTTFF&#39;s Blog">
    

    <meta name="apple-mobile-web-app-title" content="OTTFF&#39;s Blog">
    
    
    
    


    <link rel="stylesheet" href="/assets/syntax.css">
    <link rel="stylesheet" href="/assets/primer-build.css">
    <link rel="stylesheet" href="/assets/style.css">
    <link rel="stylesheet" href="/assets/github-gist.css">
    <link rel="stylesheet" href="/assets/copy-to-clipboard.css">
    
  </head>


  <body class="bg-gray">
    <div id="holy" class="container-lg bg-white h-100">

      <div id="header" class="px-1 bg-white">
        <nav class="UnderlineNav UnderlineNav--right px-2">
  <a class="UnderlineNav-actions muted-link h2" href="https://ottffyzy.github.io/">
    OTTFF&#39;s Blog
  </a>

  
  
  <div class="UnderlineNav-body">
    
      
      
      <a class="UnderlineNav-item " href="/">
        
        <span>Home</span>
      </a>
      
    
      
      
      <a class="UnderlineNav-item " href="/categories/templates">
        
        <span>Templates</span>
      </a>
      
    
      
      
      <a class="UnderlineNav-item " href="/categories/contests">
        
        <span>Contests</span>
      </a>
      
    
      
      
      <a class="UnderlineNav-item " href="/categories/solutions">
        
        <span>Solutions</span>
      </a>
      
    
      
      
      <a class="UnderlineNav-item " href="/categories/notes">
        
        <span>Notes</span>
      </a>
      
    
  </div>
  
</nav>

      </div>

      <div role="main" id="main" class="holy-main markdown-body px-4 bg-white">
        

<div class="Subhead">
  <div class="Subhead-heading">
    <div class="h1 mt-3 mb-1">[模板][图论] 迪杰斯特拉 Dijkstra</div>
  </div>
  <div class="Subhead-description">
    

<a href='/categories/templates' class="muted-link">
  <span class="Label Label--gray-darker">Templates</span>
</a>





<a href='/tags/%E6%9C%80%E7%9F%AD%E8%B7%AF' class="muted-link">
  <span class="Label Label--gray">最短路</span>
</a>





    
    <div class="float-md-right">
      <span title="Lastmod: 2020-09-24. Published at: 2020-09-24.">
        
          Published: 2020-09-24 Thu 19:10:04
        
      </span>
    </div>
    
  </div>
</div>
<article>
  
  <section class="pb-6 mb-3 border-bottom markdown">
      <h2 id="迪杰斯特拉-dijkstra">迪杰斯特拉 Dijkstra</h2>
<h3 id="模板priority_queue">模板（priority_queue）</h3>
<div class="highlight"><pre class="chroma"><code class="language-c++" data-lang="c++"><span class="c1">// T must define &lt; and +
</span><span class="c1">// V: max number of vertex [0~V-1]
</span><span class="c1"></span><span class="k">template</span><span class="o">&lt;</span><span class="k">typename</span> <span class="n">T</span><span class="p">,</span><span class="n">size_t</span> <span class="n">V</span><span class="p">,</span><span class="kt">bool</span> <span class="n">Directed</span><span class="o">=</span><span class="nb">true</span><span class="p">,</span>
         <span class="n">T</span> <span class="n">INF</span><span class="o">=</span><span class="n">T</span><span class="p">(</span><span class="mh">0x3f3f3f3f</span><span class="p">),</span><span class="n">T</span> <span class="n">ZERO</span><span class="o">=</span><span class="n">T</span><span class="p">(</span><span class="mi">0</span><span class="p">)</span><span class="o">&gt;</span>
<span class="k">struct</span> <span class="nc">G</span> <span class="p">{</span>
    <span class="k">typedef</span> <span class="n">pair</span><span class="o">&lt;</span><span class="n">T</span><span class="p">,</span><span class="kt">int</span><span class="o">&gt;</span> <span class="n">PTI</span><span class="p">;</span>
    <span class="n">vector</span><span class="o">&lt;</span><span class="n">PTI</span><span class="o">&gt;</span> <span class="n">g</span><span class="p">[</span><span class="n">V</span><span class="p">];</span>
    <span class="n">T</span> <span class="n">dis</span><span class="p">[</span><span class="n">V</span><span class="p">];</span>
    <span class="kt">int</span> <span class="n">vis</span><span class="p">[</span><span class="n">V</span><span class="p">];</span>
    <span class="kt">int</span> <span class="n">n</span><span class="p">;</span>
    <span class="kt">void</span> <span class="nf">init</span><span class="p">(</span><span class="kt">int</span> <span class="n">n_</span><span class="p">)</span>
    <span class="p">{</span>
        <span class="n">n</span><span class="o">=</span><span class="n">n_</span><span class="p">;</span>
        <span class="k">for</span><span class="p">(</span><span class="kt">int</span> <span class="n">i</span><span class="o">=</span><span class="mi">0</span><span class="p">;</span><span class="n">i</span><span class="o">&lt;</span><span class="n">n</span><span class="p">;</span><span class="n">i</span><span class="o">++</span><span class="p">)</span> <span class="n">g</span><span class="p">[</span><span class="n">i</span><span class="p">].</span><span class="n">clear</span><span class="p">();</span>
    <span class="p">}</span>
    <span class="kt">void</span> <span class="nf">addedge</span><span class="p">(</span><span class="kt">int</span> <span class="n">u</span><span class="p">,</span><span class="kt">int</span> <span class="n">v</span><span class="p">,</span><span class="n">T</span> <span class="n">w</span><span class="p">)</span>
    <span class="p">{</span>
        <span class="n">g</span><span class="p">[</span><span class="n">u</span><span class="p">].</span><span class="n">emplace_back</span><span class="p">(</span><span class="n">w</span><span class="p">,</span><span class="n">v</span><span class="p">);</span>
        <span class="k">if</span><span class="p">(</span><span class="o">!</span><span class="n">Directed</span><span class="p">)</span> <span class="n">g</span><span class="p">[</span><span class="n">v</span><span class="p">].</span><span class="n">emplace_back</span><span class="p">(</span><span class="n">w</span><span class="p">,</span><span class="n">u</span><span class="p">);</span>
    <span class="p">}</span>
    <span class="kt">void</span> <span class="nf">dijkstra</span><span class="p">(</span><span class="kt">int</span> <span class="n">st</span><span class="p">,</span><span class="kt">int</span> <span class="n">ed</span><span class="o">=-</span><span class="mi">1</span><span class="p">)</span> <span class="c1">// ed=-1 no destination
</span><span class="c1"></span>    <span class="p">{</span>
        <span class="k">for</span><span class="p">(</span><span class="kt">int</span> <span class="n">i</span><span class="o">=</span><span class="mi">0</span><span class="p">;</span><span class="n">i</span><span class="o">&lt;</span><span class="n">n</span><span class="p">;</span><span class="n">i</span><span class="o">++</span><span class="p">)</span> <span class="n">dis</span><span class="p">[</span><span class="n">i</span><span class="p">]</span><span class="o">=</span><span class="n">INF</span><span class="p">,</span><span class="n">vis</span><span class="p">[</span><span class="n">i</span><span class="p">]</span><span class="o">=</span><span class="mi">0</span><span class="p">;</span>
        <span class="n">priority_queue</span><span class="o">&lt;</span><span class="n">PTI</span><span class="p">,</span><span class="n">vector</span><span class="o">&lt;</span><span class="n">PTI</span><span class="o">&gt;</span><span class="p">,</span><span class="n">greater</span><span class="o">&lt;</span><span class="n">PTI</span><span class="o">&gt;</span> <span class="o">&gt;</span> <span class="n">qu</span><span class="p">;</span>
        <span class="n">dis</span><span class="p">[</span><span class="n">st</span><span class="p">]</span><span class="o">=</span><span class="n">ZERO</span><span class="p">;</span>
        <span class="n">qu</span><span class="p">.</span><span class="n">emplace</span><span class="p">(</span><span class="n">ZERO</span><span class="p">,</span><span class="n">st</span><span class="p">);</span>
        <span class="k">while</span><span class="p">(</span><span class="o">!</span><span class="n">qu</span><span class="p">.</span><span class="n">empty</span><span class="p">())</span>
        <span class="p">{</span>
            <span class="n">PTI</span> <span class="n">p</span><span class="o">=</span><span class="n">qu</span><span class="p">.</span><span class="n">top</span><span class="p">();</span> <span class="n">qu</span><span class="p">.</span><span class="n">pop</span><span class="p">();</span>
            <span class="kt">int</span> <span class="n">u</span><span class="o">=</span><span class="n">p</span><span class="p">.</span><span class="n">second</span><span class="p">;</span>
            <span class="k">if</span><span class="p">(</span><span class="n">vis</span><span class="p">[</span><span class="n">u</span><span class="p">])</span> <span class="k">continue</span><span class="p">;</span>
            <span class="n">vis</span><span class="p">[</span><span class="n">u</span><span class="p">]</span><span class="o">=</span><span class="mi">1</span><span class="p">;</span>
            <span class="k">if</span><span class="p">(</span><span class="n">u</span><span class="o">==</span><span class="n">ed</span><span class="p">)</span> <span class="k">break</span><span class="p">;</span>
            <span class="k">for</span><span class="p">(</span><span class="k">auto</span> <span class="p">[</span><span class="n">w</span><span class="p">,</span><span class="n">v</span><span class="p">]</span><span class="o">:</span><span class="n">g</span><span class="p">[</span><span class="n">u</span><span class="p">])</span>
            <span class="p">{</span>
                <span class="k">if</span><span class="p">(</span><span class="n">vis</span><span class="p">[</span><span class="n">v</span><span class="p">])</span> <span class="k">continue</span><span class="p">;</span>
                <span class="n">T</span> <span class="n">nd</span><span class="o">=</span><span class="n">dis</span><span class="p">[</span><span class="n">u</span><span class="p">]</span><span class="o">+</span><span class="n">w</span><span class="p">;</span>
                <span class="k">if</span><span class="p">(</span><span class="n">nd</span><span class="o">&lt;</span><span class="n">dis</span><span class="p">[</span><span class="n">v</span><span class="p">])</span>
                <span class="p">{</span>
                    <span class="n">dis</span><span class="p">[</span><span class="n">v</span><span class="p">]</span><span class="o">=</span><span class="n">nd</span><span class="p">;</span>
                    <span class="n">qu</span><span class="p">.</span><span class="n">emplace</span><span class="p">(</span><span class="n">nd</span><span class="p">,</span><span class="n">v</span><span class="p">);</span>
                <span class="p">}</span>
            <span class="p">}</span>
        <span class="p">}</span>
    <span class="p">}</span>
<span class="p">};</span>
</code></pre></div><p>Debug:</p>
<div class="highlight"><pre class="chroma"><code class="language-c++" data-lang="c++">    <span class="cm">/* Debug ------------------------------------ 
</span><span class="cm">       T need to define function
</span><span class="cm">       ostream&amp; operator&lt;&lt;(ostream&amp; out, T rhs);  */</span>
    <span class="kt">void</span> <span class="nf">show</span><span class="p">()</span>
    <span class="p">{</span>
        <span class="n">cout</span><span class="o">&lt;&lt;</span><span class="s">&#34;Dijkstra:----------------------</span><span class="se">\n</span><span class="s">&#34;</span><span class="p">;</span>
        <span class="n">cout</span><span class="o">&lt;&lt;</span><span class="s">&#34;id:&#34;</span><span class="p">;</span>
        <span class="k">for</span><span class="p">(</span><span class="kt">int</span> <span class="n">i</span><span class="o">=</span><span class="mi">0</span><span class="p">;</span><span class="n">i</span><span class="o">&lt;</span><span class="n">n</span><span class="p">;</span><span class="n">i</span><span class="o">++</span><span class="p">)</span> <span class="n">cout</span><span class="o">&lt;&lt;</span><span class="sc">&#39;\t&#39;</span><span class="o">&lt;&lt;</span><span class="n">i</span><span class="p">;</span>
        <span class="n">cout</span><span class="o">&lt;&lt;</span><span class="sc">&#39;\n&#39;</span><span class="p">;</span>
        <span class="n">cout</span><span class="o">&lt;&lt;</span><span class="s">&#34;dis:&#34;</span><span class="p">;</span>
        <span class="k">for</span><span class="p">(</span><span class="kt">int</span> <span class="n">i</span><span class="o">=</span><span class="mi">0</span><span class="p">;</span><span class="n">i</span><span class="o">&lt;</span><span class="n">n</span><span class="p">;</span><span class="n">i</span><span class="o">++</span><span class="p">)</span> <span class="n">cout</span><span class="o">&lt;&lt;</span><span class="sc">&#39;\t&#39;</span><span class="o">&lt;&lt;</span><span class="n">dis</span><span class="p">[</span><span class="n">i</span><span class="p">];</span>
        <span class="n">cout</span><span class="o">&lt;&lt;</span><span class="sc">&#39;\n&#39;</span><span class="p">;</span>
        <span class="n">cout</span><span class="o">&lt;&lt;</span><span class="s">&#34;vis:&#34;</span><span class="p">;</span>
        <span class="k">for</span><span class="p">(</span><span class="kt">int</span> <span class="n">i</span><span class="o">=</span><span class="mi">0</span><span class="p">;</span><span class="n">i</span><span class="o">&lt;</span><span class="n">n</span><span class="p">;</span><span class="n">i</span><span class="o">++</span><span class="p">)</span> <span class="n">cout</span><span class="o">&lt;&lt;</span><span class="sc">&#39;\t&#39;</span><span class="o">&lt;&lt;</span><span class="n">vis</span><span class="p">[</span><span class="n">i</span><span class="p">];</span>
        <span class="n">cout</span><span class="o">&lt;&lt;</span><span class="sc">&#39;\n&#39;</span><span class="p">;</span>
        <span class="n">cout</span><span class="o">&lt;&lt;</span><span class="s">&#34;-------------------------------</span><span class="se">\n\n</span><span class="s">&#34;</span><span class="p">;</span>
    <span class="p">}</span>
</code></pre></div><h3 id="模板-heap">模板 (Heap)</h3>
<div class="highlight"><pre class="chroma"><code class="language-c++" data-lang="c++"><span class="c1">// must define &lt; for T
</span><span class="c1">// M: max size of heap
</span><span class="c1">// MK: max size of key
</span><span class="c1"></span><span class="k">template</span><span class="o">&lt;</span><span class="k">typename</span> <span class="n">T</span><span class="p">,</span><span class="n">size_t</span> <span class="n">M</span><span class="o">&gt;</span>
<span class="k">struct</span> <span class="nc">Heap</span>
<span class="p">{</span>
	<span class="k">typedef</span> <span class="n">pair</span><span class="o">&lt;</span><span class="n">T</span><span class="p">,</span><span class="kt">int</span><span class="o">&gt;</span> <span class="n">PTI</span><span class="p">;</span>
	<span class="n">T</span> <span class="n">h</span><span class="p">[</span><span class="n">M</span><span class="o">+</span><span class="mi">1</span><span class="p">];</span>
	<span class="kt">int</span> <span class="n">key</span><span class="p">[</span><span class="n">M</span><span class="o">+</span><span class="mi">1</span><span class="p">];</span> <span class="c1">// key[i] is unique and in [0~M-1] 
</span><span class="c1"></span>	<span class="kt">int</span> <span class="n">pos</span><span class="p">[</span><span class="n">M</span><span class="p">];</span>   <span class="c1">// position of elememt which key is i
</span><span class="c1"></span>	<span class="kt">int</span> <span class="n">n</span><span class="p">;</span>        <span class="c1">// number of node in the current heap
</span><span class="c1"></span>	<span class="kt">void</span> <span class="nf">init</span><span class="p">()</span> <span class="p">{</span> <span class="n">n</span><span class="o">=</span><span class="mi">0</span><span class="p">;</span> <span class="p">}</span>
	<span class="kt">void</span> <span class="nf">push</span><span class="p">(</span><span class="n">T</span> <span class="n">x</span><span class="p">,</span><span class="kt">int</span> <span class="n">k</span><span class="p">)</span>
	<span class="p">{</span> 
		<span class="n">h</span><span class="p">[</span><span class="o">++</span><span class="n">n</span><span class="p">]</span><span class="o">=</span><span class="n">x</span><span class="p">;</span> <span class="n">key</span><span class="p">[</span><span class="n">n</span><span class="p">]</span><span class="o">=</span><span class="n">k</span><span class="p">;</span> <span class="n">pos</span><span class="p">[</span><span class="n">k</span><span class="p">]</span><span class="o">=</span><span class="n">n</span><span class="p">;</span> <span class="n">swim</span><span class="p">(</span><span class="n">n</span><span class="p">);</span> 
	<span class="p">}</span>
	<span class="n">PTI</span> <span class="nf">pop</span><span class="p">()</span>
	<span class="p">{</span>
		<span class="n">T</span> <span class="n">res</span><span class="o">=</span><span class="n">h</span><span class="p">[</span><span class="mi">1</span><span class="p">];</span> <span class="kt">int</span> <span class="n">k</span><span class="o">=</span><span class="n">key</span><span class="p">[</span><span class="mi">1</span><span class="p">];</span> 
		<span class="n">h</span><span class="p">[</span><span class="mi">1</span><span class="p">]</span><span class="o">=</span><span class="n">h</span><span class="p">[</span><span class="n">n</span><span class="p">];</span> <span class="n">key</span><span class="p">[</span><span class="mi">1</span><span class="p">]</span><span class="o">=</span><span class="n">key</span><span class="p">[</span><span class="n">n</span><span class="o">--</span><span class="p">];</span> <span class="n">pos</span><span class="p">[</span><span class="n">key</span><span class="p">[</span><span class="mi">1</span><span class="p">]]</span><span class="o">=</span><span class="mi">1</span><span class="p">;</span>
		<span class="n">sink</span><span class="p">(</span><span class="mi">1</span><span class="p">);</span>
		<span class="k">return</span> <span class="p">{</span><span class="n">res</span><span class="p">,</span><span class="n">k</span><span class="p">};</span>
	<span class="p">}</span>
	<span class="c1">// decrease key to val
</span><span class="c1"></span>	<span class="kt">void</span> <span class="nf">dec</span><span class="p">(</span><span class="kt">int</span> <span class="n">k</span><span class="p">,</span><span class="n">T</span> <span class="n">val</span><span class="p">)</span> <span class="c1">// check key in [0~n-1]
</span><span class="c1"></span>	<span class="p">{</span>
		<span class="kt">int</span> <span class="n">p</span><span class="o">=</span><span class="n">pos</span><span class="p">[</span><span class="n">k</span><span class="p">];</span>
		<span class="n">T</span> <span class="n">oldval</span><span class="o">=</span><span class="n">h</span><span class="p">[</span><span class="n">p</span><span class="p">];</span>
		<span class="k">if</span><span class="p">(</span><span class="n">val</span><span class="o">&lt;</span><span class="n">oldval</span><span class="p">)</span> <span class="p">{</span> <span class="n">h</span><span class="p">[</span><span class="n">p</span><span class="p">]</span><span class="o">=</span><span class="n">val</span><span class="p">;</span> <span class="n">swim</span><span class="p">(</span><span class="n">p</span><span class="p">);</span> <span class="p">}</span>
	<span class="p">}</span>
    <span class="kt">bool</span> <span class="nf">empty</span><span class="p">()</span> <span class="p">{</span> <span class="k">return</span> <span class="n">n</span><span class="o">==</span><span class="mi">0</span><span class="p">;</span> <span class="p">}</span>
	<span class="cm">/* Helper ----------------------------------- */</span>
	<span class="kt">void</span> <span class="nf">sink</span><span class="p">(</span><span class="kt">int</span> <span class="n">p</span><span class="p">)</span>
	<span class="p">{</span>
		<span class="kt">int</span> <span class="n">q</span><span class="o">=</span><span class="n">p</span><span class="o">&lt;&lt;</span><span class="mi">1</span><span class="p">;</span> <span class="n">T</span> <span class="n">x</span><span class="o">=</span><span class="n">h</span><span class="p">[</span><span class="n">p</span><span class="p">];</span> <span class="kt">int</span> <span class="n">k</span><span class="o">=</span><span class="n">key</span><span class="p">[</span><span class="n">p</span><span class="p">];</span>
		<span class="k">while</span><span class="p">(</span><span class="n">q</span><span class="o">&lt;=</span><span class="n">n</span><span class="p">)</span>
		<span class="p">{</span>
			<span class="k">if</span><span class="p">(</span><span class="n">q</span><span class="o">&lt;</span><span class="n">n</span><span class="o">&amp;&amp;</span><span class="n">h</span><span class="p">[</span><span class="n">q</span><span class="o">+</span><span class="mi">1</span><span class="p">]</span><span class="o">&lt;</span><span class="n">h</span><span class="p">[</span><span class="n">q</span><span class="p">])</span> <span class="n">q</span><span class="o">++</span><span class="p">;</span>
			<span class="k">if</span><span class="p">(</span><span class="o">!</span><span class="p">(</span><span class="n">h</span><span class="p">[</span><span class="n">q</span><span class="p">]</span><span class="o">&lt;</span><span class="n">x</span><span class="p">))</span> <span class="k">break</span><span class="p">;</span> <span class="c1">// h[q]&gt;=x
</span><span class="c1"></span>			<span class="n">h</span><span class="p">[</span><span class="n">p</span><span class="p">]</span><span class="o">=</span><span class="n">h</span><span class="p">[</span><span class="n">q</span><span class="p">];</span> <span class="n">key</span><span class="p">[</span><span class="n">p</span><span class="p">]</span><span class="o">=</span><span class="n">key</span><span class="p">[</span><span class="n">q</span><span class="p">];</span> <span class="n">pos</span><span class="p">[</span><span class="n">key</span><span class="p">[</span><span class="n">p</span><span class="p">]]</span><span class="o">=</span><span class="n">p</span><span class="p">;</span>
			<span class="n">p</span><span class="o">=</span><span class="n">q</span><span class="p">;</span> <span class="n">q</span><span class="o">=</span><span class="n">p</span><span class="o">&lt;&lt;</span><span class="mi">1</span><span class="p">;</span>
		<span class="p">}</span>
		<span class="n">h</span><span class="p">[</span><span class="n">p</span><span class="p">]</span><span class="o">=</span><span class="n">x</span><span class="p">;</span> <span class="n">key</span><span class="p">[</span><span class="n">p</span><span class="p">]</span><span class="o">=</span><span class="n">k</span><span class="p">;</span> <span class="n">pos</span><span class="p">[</span><span class="n">k</span><span class="p">]</span><span class="o">=</span><span class="n">p</span><span class="p">;</span>
	<span class="p">}</span>
	<span class="kt">void</span> <span class="nf">swim</span><span class="p">(</span><span class="kt">int</span> <span class="n">p</span><span class="p">)</span>
	<span class="p">{</span>
		<span class="kt">int</span> <span class="n">q</span><span class="o">=</span><span class="n">p</span><span class="o">&gt;&gt;</span><span class="mi">1</span><span class="p">;</span> <span class="n">T</span> <span class="n">x</span><span class="o">=</span><span class="n">h</span><span class="p">[</span><span class="n">p</span><span class="p">];</span> <span class="kt">int</span> <span class="n">k</span><span class="o">=</span><span class="n">key</span><span class="p">[</span><span class="n">p</span><span class="p">];</span>
		<span class="k">while</span><span class="p">(</span><span class="n">q</span><span class="o">&amp;&amp;</span><span class="n">x</span><span class="o">&lt;</span><span class="n">h</span><span class="p">[</span><span class="n">q</span><span class="p">])</span>
		<span class="p">{</span> 
			<span class="n">h</span><span class="p">[</span><span class="n">p</span><span class="p">]</span><span class="o">=</span><span class="n">h</span><span class="p">[</span><span class="n">q</span><span class="p">];</span> <span class="n">key</span><span class="p">[</span><span class="n">p</span><span class="p">]</span><span class="o">=</span><span class="n">key</span><span class="p">[</span><span class="n">q</span><span class="p">];</span> <span class="n">pos</span><span class="p">[</span><span class="n">key</span><span class="p">[</span><span class="n">p</span><span class="p">]]</span><span class="o">=</span><span class="n">p</span><span class="p">;</span>
			<span class="n">p</span><span class="o">=</span><span class="n">q</span><span class="p">;</span> <span class="n">q</span><span class="o">=</span><span class="n">p</span><span class="o">&gt;&gt;</span><span class="mi">1</span><span class="p">;</span>
		<span class="p">}</span>
		<span class="n">h</span><span class="p">[</span><span class="n">p</span><span class="p">]</span><span class="o">=</span><span class="n">x</span><span class="p">;</span> <span class="n">key</span><span class="p">[</span><span class="n">p</span><span class="p">]</span><span class="o">=</span><span class="n">k</span><span class="p">;</span> <span class="n">pos</span><span class="p">[</span><span class="n">k</span><span class="p">]</span><span class="o">=</span><span class="n">p</span><span class="p">;</span>
	<span class="p">}</span>
<span class="p">};</span>

<span class="c1">// T must define &lt;
</span><span class="c1">// V: max number of vertex [0~V-1]
</span><span class="c1"></span><span class="k">template</span><span class="o">&lt;</span><span class="k">typename</span> <span class="n">T</span><span class="p">,</span><span class="n">size_t</span> <span class="n">V</span><span class="p">,</span><span class="kt">bool</span> <span class="n">Directed</span><span class="o">=</span><span class="nb">true</span><span class="p">;</span>
         <span class="n">T</span> <span class="n">INF</span><span class="o">=</span><span class="n">T</span><span class="p">(</span><span class="mh">0x3f3f3f3f</span><span class="p">),</span><span class="n">T</span> <span class="n">ZERO</span><span class="o">=</span><span class="n">T</span><span class="p">(</span><span class="mi">0</span><span class="p">)</span><span class="o">&gt;</span>
<span class="k">struct</span> <span class="nc">Dijkstra</span> <span class="p">{</span>
	<span class="k">typedef</span> <span class="n">pair</span><span class="o">&lt;</span><span class="n">T</span><span class="p">,</span><span class="kt">int</span><span class="o">&gt;</span> <span class="n">PTI</span><span class="p">;</span>
	<span class="n">vector</span><span class="o">&lt;</span><span class="n">PTI</span><span class="o">&gt;</span> <span class="n">g</span><span class="p">[</span><span class="n">V</span><span class="p">];</span>
	<span class="n">T</span> <span class="n">dis</span><span class="p">[</span><span class="n">V</span><span class="p">];</span>
	<span class="kt">int</span> <span class="n">vis</span><span class="p">[</span><span class="n">V</span><span class="p">];</span>
	<span class="kt">int</span> <span class="n">n</span><span class="p">;</span>
	<span class="n">Heap</span><span class="o">&lt;</span><span class="n">T</span><span class="p">,</span><span class="n">V</span><span class="o">&gt;</span> <span class="n">heap</span><span class="p">;</span>
	<span class="kt">void</span> <span class="nf">init</span><span class="p">(</span><span class="kt">int</span> <span class="n">n_</span><span class="p">)</span>
	<span class="p">{</span>
		<span class="n">n</span><span class="o">=</span><span class="n">n_</span><span class="p">;</span>
		<span class="k">for</span><span class="p">(</span><span class="kt">int</span> <span class="n">i</span><span class="o">=</span><span class="mi">0</span><span class="p">;</span><span class="n">i</span><span class="o">&lt;</span><span class="n">n</span><span class="p">;</span><span class="n">i</span><span class="o">++</span><span class="p">)</span> <span class="n">g</span><span class="p">[</span><span class="n">i</span><span class="p">].</span><span class="n">clear</span><span class="p">();</span>
	<span class="p">}</span>
	<span class="kt">void</span> <span class="nf">addedge</span><span class="p">(</span><span class="kt">int</span> <span class="n">u</span><span class="p">,</span><span class="kt">int</span> <span class="n">v</span><span class="p">,</span><span class="n">T</span> <span class="n">w</span><span class="p">)</span>
	<span class="p">{</span>
		<span class="n">g</span><span class="p">[</span><span class="n">u</span><span class="p">].</span><span class="n">emplace_back</span><span class="p">(</span><span class="n">w</span><span class="p">,</span><span class="n">v</span><span class="p">);</span>
		<span class="k">if</span><span class="p">(</span><span class="o">!</span><span class="n">Directed</span><span class="p">)</span> <span class="n">g</span><span class="p">[</span><span class="n">v</span><span class="p">].</span><span class="n">emplace_back</span><span class="p">(</span><span class="n">w</span><span class="p">,</span><span class="n">u</span><span class="p">);</span>
	<span class="p">}</span>
	<span class="kt">void</span> <span class="nf">solve</span><span class="p">(</span><span class="kt">int</span> <span class="n">st</span><span class="p">,</span><span class="kt">int</span> <span class="n">ed</span><span class="o">=-</span><span class="mi">1</span><span class="p">)</span> <span class="c1">// ed=-1 no destination
</span><span class="c1"></span>	<span class="p">{</span>
		<span class="k">for</span><span class="p">(</span><span class="kt">int</span> <span class="n">i</span><span class="o">=</span><span class="mi">0</span><span class="p">;</span><span class="n">i</span><span class="o">&lt;</span><span class="n">n</span><span class="p">;</span><span class="n">i</span><span class="o">++</span><span class="p">)</span> <span class="n">dis</span><span class="p">[</span><span class="n">i</span><span class="p">]</span><span class="o">=</span><span class="n">INF</span><span class="p">,</span><span class="n">vis</span><span class="p">[</span><span class="n">i</span><span class="p">]</span><span class="o">=</span><span class="mi">0</span><span class="p">;</span>
		<span class="n">heap</span><span class="p">.</span><span class="n">init</span><span class="p">();</span>
		<span class="n">dis</span><span class="p">[</span><span class="n">st</span><span class="p">]</span><span class="o">=</span><span class="n">ZERO</span><span class="p">;</span>
		<span class="n">heap</span><span class="p">.</span><span class="n">push</span><span class="p">(</span><span class="n">ZERO</span><span class="p">,</span><span class="n">st</span><span class="p">);</span>
		<span class="k">while</span><span class="p">(</span><span class="o">!</span><span class="n">heap</span><span class="p">.</span><span class="n">empty</span><span class="p">())</span>
		<span class="p">{</span>
			<span class="n">PTI</span> <span class="n">p</span><span class="o">=</span><span class="n">heap</span><span class="p">.</span><span class="n">pop</span><span class="p">();</span>
			<span class="kt">int</span> <span class="n">u</span><span class="o">=</span><span class="n">p</span><span class="p">.</span><span class="n">second</span><span class="p">;</span>
			<span class="k">if</span><span class="p">(</span><span class="n">vis</span><span class="p">[</span><span class="n">u</span><span class="p">]</span><span class="o">==</span><span class="mi">2</span><span class="p">)</span> <span class="k">continue</span><span class="p">;</span>
			<span class="n">vis</span><span class="p">[</span><span class="n">u</span><span class="p">]</span><span class="o">=</span><span class="mi">2</span><span class="p">;</span>
			<span class="k">if</span><span class="p">(</span><span class="n">u</span><span class="o">==</span><span class="n">ed</span><span class="p">)</span> <span class="k">break</span><span class="p">;</span>
			<span class="k">for</span><span class="p">(</span><span class="k">auto</span> <span class="p">[</span><span class="n">w</span><span class="p">,</span><span class="n">v</span><span class="p">]</span><span class="o">:</span><span class="n">g</span><span class="p">[</span><span class="n">u</span><span class="p">])</span>
			<span class="p">{</span>
				<span class="k">if</span><span class="p">(</span><span class="n">vis</span><span class="p">[</span><span class="n">v</span><span class="p">]</span><span class="o">==</span><span class="mi">2</span><span class="p">)</span> <span class="k">continue</span><span class="p">;</span>
				<span class="n">T</span> <span class="n">nd</span><span class="o">=</span><span class="n">dis</span><span class="p">[</span><span class="n">u</span><span class="p">]</span><span class="o">+</span><span class="n">w</span><span class="p">;</span>
				<span class="k">if</span><span class="p">(</span><span class="n">nd</span><span class="o">&lt;</span><span class="n">dis</span><span class="p">[</span><span class="n">v</span><span class="p">])</span>
				<span class="p">{</span>
					<span class="n">dis</span><span class="p">[</span><span class="n">v</span><span class="p">]</span><span class="o">=</span><span class="n">nd</span><span class="p">;</span>
					<span class="k">if</span><span class="p">(</span><span class="o">!</span><span class="n">vis</span><span class="p">[</span><span class="n">v</span><span class="p">])</span> <span class="n">heap</span><span class="p">.</span><span class="n">push</span><span class="p">(</span><span class="n">nd</span><span class="p">,</span><span class="n">v</span><span class="p">),</span><span class="n">vis</span><span class="p">[</span><span class="n">v</span><span class="p">]</span><span class="o">=</span><span class="mi">1</span><span class="p">;</span>
					<span class="k">else</span> <span class="n">heap</span><span class="p">.</span><span class="n">dec</span><span class="p">(</span><span class="n">v</span><span class="p">,</span><span class="n">nd</span><span class="p">);</span>
				<span class="p">}</span>
			<span class="p">}</span>
		<span class="p">}</span>
	<span class="p">}</span>
<span class="p">};</span>
</code></pre></div><p>Debug:</p>
<div class="highlight"><pre class="chroma"><code class="language-c++" data-lang="c++">    <span class="cm">/* Debug ------------------------------------ 
</span><span class="cm">       T need to define friend function
</span><span class="cm">       ostream&amp; operator&lt;&lt;(ostream&amp; out, T rhs);  */</span>
    <span class="kt">void</span> <span class="nf">show</span><span class="p">()</span>
    <span class="p">{</span>
        <span class="n">cout</span><span class="o">&lt;&lt;</span><span class="s">&#34;Dijkstra:----------------------</span><span class="se">\n</span><span class="s">&#34;</span><span class="p">;</span>
        <span class="n">cout</span><span class="o">&lt;&lt;</span><span class="s">&#34;id:&#34;</span><span class="p">;</span>
        <span class="k">for</span><span class="p">(</span><span class="kt">int</span> <span class="n">i</span><span class="o">=</span><span class="mi">0</span><span class="p">;</span><span class="n">i</span><span class="o">&lt;</span><span class="n">n</span><span class="p">;</span><span class="n">i</span><span class="o">++</span><span class="p">)</span> <span class="n">cout</span><span class="o">&lt;&lt;</span><span class="sc">&#39;\t&#39;</span><span class="o">&lt;&lt;</span><span class="n">i</span><span class="p">;</span>
        <span class="n">cout</span><span class="o">&lt;&lt;</span><span class="sc">&#39;\n&#39;</span><span class="p">;</span>
        <span class="n">cout</span><span class="o">&lt;&lt;</span><span class="s">&#34;dis:&#34;</span><span class="p">;</span>
        <span class="k">for</span><span class="p">(</span><span class="kt">int</span> <span class="n">i</span><span class="o">=</span><span class="mi">0</span><span class="p">;</span><span class="n">i</span><span class="o">&lt;</span><span class="n">n</span><span class="p">;</span><span class="n">i</span><span class="o">++</span><span class="p">)</span> <span class="n">cout</span><span class="o">&lt;&lt;</span><span class="sc">&#39;\t&#39;</span><span class="o">&lt;&lt;</span><span class="n">dis</span><span class="p">[</span><span class="n">i</span><span class="p">];</span>
        <span class="n">cout</span><span class="o">&lt;&lt;</span><span class="sc">&#39;\n&#39;</span><span class="p">;</span>
        <span class="n">cout</span><span class="o">&lt;&lt;</span><span class="s">&#34;vis:&#34;</span><span class="p">;</span>
        <span class="k">for</span><span class="p">(</span><span class="kt">int</span> <span class="n">i</span><span class="o">=</span><span class="mi">0</span><span class="p">;</span><span class="n">i</span><span class="o">&lt;</span><span class="n">n</span><span class="p">;</span><span class="n">i</span><span class="o">++</span><span class="p">)</span> <span class="n">cout</span><span class="o">&lt;&lt;</span><span class="sc">&#39;\t&#39;</span><span class="o">&lt;&lt;</span><span class="n">vis</span><span class="p">[</span><span class="n">i</span><span class="p">];</span>
        <span class="n">cout</span><span class="o">&lt;&lt;</span><span class="sc">&#39;\n&#39;</span><span class="p">;</span>
        <span class="n">cout</span><span class="o">&lt;&lt;</span><span class="s">&#34;-------------------------------</span><span class="se">\n\n</span><span class="s">&#34;</span><span class="p">;</span>
    <span class="p">}</span>
</code></pre></div><h3 id="测试">测试</h3>
<table>
<thead>
<tr>
<th>题目</th>
<th>方法</th>
<th>优化</th>
<th>时间（ms）</th>
</tr>
</thead>
<tbody>
<tr>
<td>Luogu 4779【模板】单源最短路径（标准版）</td>
<td>Dijkstra priority_queue</td>
<td></td>
<td>1940</td>
</tr>
<tr>
<td>Luogu 4779</td>
<td>Dijkstra priority_queue</td>
<td>O(2)</td>
<td>655</td>
</tr>
<tr>
<td>Luogu 4779</td>
<td>Dijkstra heap</td>
<td></td>
<td>1040</td>
</tr>
<tr>
<td>Luogu 4779</td>
<td>Dijkstra heap</td>
<td>O(2)</td>
<td>618</td>
</tr>
<tr>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
</tbody>
</table>

  </section>

  <section>
    
        <a href="/templates/ds/binaryheap/" class="previous_page">Prev: [模板][数据结构] 二叉堆 Binary Heap </a>
    
     <br> 
    
        <a href="/templates/ds/unionfind/" class="next_page">Next: [模板][数据结构] 并查集 Union Find / Disjoint Set Union </a>
    
  </section>

  <section>
    
      
      
<div id="gitalk-container"></div>
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk/dist/gitalk.min.js"></script>
<script>
  const gitalk = new Gitalk({
    clientID: 'b60070c8fc2c3e5b67f2',
    clientSecret: '38bd9f39233a4031fcf3ff8fc94ce86241fce24e',
    repo: 'OTTFFYZY.github.io',
    owner: 'OTTFFYZY',
    admin: ['OTTFFYZY'],
    id: location.pathname, 
    distractionFreeMode: false 
  });
  (function() {
    if (["localhost", "127.0.0.1"].indexOf(window.location.hostname) != -1) {
      document.getElementById('gitalk-container').innerHTML = 'Gitalk comments not available by default when the website is previewed locally.';
      return;
    }
    gitalk.render('gitalk-container');
  })();
</script>

    
  </section>
</article>

      </div>

      <div id="side" class="pr-1 bg-white">
        <aside class="pr-3">
          
  
    <div id="toc" class="Box Box--blue mb-3">
      <b>[模板][图论] 迪杰斯特拉 Dijkstra</b><nav id="TableOfContents">
  <ul>
    <li><a href="#迪杰斯特拉-dijkstra">迪杰斯特拉 Dijkstra</a>
      <ul>
        <li><a href="#模板priority_queue">模板（priority_queue）</a></li>
        <li><a href="#模板-heap">模板 (Heap)</a></li>
        <li><a href="#测试">测试</a></li>
      </ul>
    </li>
  </ul>
</nav></div>
  

  
    <div>
      
    </div>
  

        </aside>
      </div>

      <div id="footer" class="pt-2 pb-3 bg-white text-center">
        

  <span class="text-small text-gray">
    

    Powered by the
    <a href="https://github.com/qqhann/hugo-primer" class="link-gray-dark">Hugo-Primer</a> theme for
    <a href="https://gohugo.io" class="link-gray-dark">Hugo</a>.
  </span>


      </div>
    </div>

    
    
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        tex2jax: {
          inlineMath: [['$','$']],
          displayMath: [['$$','$$']],
          processEscapes: true,
          processEnvironments: true,
          skipTags: ['script', 'noscript', 'style', 'textarea', 'pre'],
          TeX: { equationNumbers: { autoNumber: "AMS" },
               extensions: ["AMSmath.js", "AMSsymbols.js"] }
        }
      });
      </script>
      
      
    
    <script src="/assets/highlight.pack.js"></script>
    
    <script>
      hljs.initHighlightingOnLoad();
      
      hljs.configure({tabReplace: '    '});
    </script>

    <script src="/assets/copy-to-clipboard.js"></script>
  </body>
</html>
